<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="all">
	<title>OKMS</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="lib/jquery-ui-1.12.1/jquery-ui.min.css">	
	<link rel="stylesheet" type="text/css" href="lib/bootstrap-4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/layout.css">
	<link rel="stylesheet" type="text/css" href="css/only-ie.css" />

	<script src="lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
	<script src="lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="lib/bootstrap-4.3.1/js/popper.min.js"></script>
	<script src="lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
</head>


<body>

	<style>
		.inner{padding:60px 0;max-width:800px;margin:0 auto;}		
		.g-tit{margin-bottom:24px;font-size:40px;font-weight:bold;}
		.g-sec-tit{font-size:18px;font-weight:500;margin-bottom:16px;}

		.right_section{background-color: #f5f5f5;}

		article{max-width:800px;width:100%;background-color: #fff;border-radius: 16px;padding:24px 32px;margin-bottom:24px;}

		.nav-tabs{}
		.nav-link{color:#666;font-size:15px;}
		.nav-link:hover{color:inherit;}
		.nav-link.active{color:#15C5CE;font-weight:bold;}
	</style>

<div id="wrapper">

	<!--S.header-->
	<header class="header">
		<div class="left">
			<div class="tit_box">
				<h1>스타일 가이드</h1>				
			</div>
		</div>
	</header>
	<!--//E.header-->

	<div class="container">

		<!-- S.left_section  -->
		<aside class="left_section">
			<button type="button" class="ico_fold"><span class="skip">접기</span></button>
			<!--S .index_wrap-->
			<div class="index_navi">
				<!--S. 공통 tab nav-->
				<ul class="nav flex-column" id="guideTab" role="tablist">
					<!-- <li class="nav-item" role="presentation">
						<button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab">전체</button>
					</li> -->
					<li class="nav-item" role="presentation">
						<button class="nav-link active" data-toggle="tab" data-target="#tree" type="button" role="tab">트리구조</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" data-toggle="tab" data-target="#form" type="button" role="tab">Form</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" data-toggle="tab" data-target="#buttons" type="button" role="tab">Button</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" data-toggle="tab" data-target="#badge" type="button" role="tab">Badge</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" data-toggle="tab" data-target="#icon" type="button" role="tab">Icon</button>
					</li>
				</ul>
				<!--//E. 공통 tab nav-->
			</div>
			<!--S .index_wrap-->
		</aside>
		<!-- // E.left_section -->
		
		<!-- S.right_section  -->
		<main class="right_section">
			<div class="inner">

				<div class="tab-content" id="myTabContent">
					<div id="tab1" class="tab-pane" role="tabpanel " tabindex="0">
							
					</div>

					<div id="tree" class="tab-pane active" role="tabpanel" tabindex="0">

					</div>

					<!--forms-->
					<div id="form" class="tab-pane" role="tabpanel" tabindex="0">
						<h2 class="g-tit">Form</h2>
						
						<div>
							<article>
								<h3 class="g-sec-tit">input</h3>
								<section class="">
									<div>
										<div class="form_group mb12">
											<input type="text" class="form_input" placeholder="placeholder">
										</div>
										<div class="form_group mb12 success">
											<input type="text" class="form_input" placeholder="placeholder">
											<p class="state_txt mt4">성공 문구</p>
										</div>
										<div class="form_group mb12 error">
											<input type="text" class="form_input" placeholder="placeholder">
											<p class="state_txt mt4">에러 문구</p>
										</div>
										<div class="form_group d-flex align-items-center mb12">
											<input type="text" class="form_input" placeholder="placeholder" value="입력">
										</div>
										<div class="form_group d-flex align-items-center mb12">
											<input type="text" class="form_input" placeholder="readonly" value="첨부파일을 확인해주세요" readonly="">
										</div>
										<div class="form_group d-flex align-items-center mb12">
											<input type="text" class="form_input" placeholder="disabled" disabled>
										</div>

										<div class="form_group d-flex align-items-center mb12">
											<input type="text" class="form_input w700" placeholder="placeholder">
										</div>
										<div class="form_group d-flex align-items-center mb12">
											<input type="text" class="form_input w700" placeholder="placeholder" value="입력">
										</div>
										<div class="form_group d-flex align-items-center mb12">
											<input type="text" class="form_input w700" placeholder="readonly" value="첨부파일을 확인해주세요" readonly="">
										</div>
										<div class="form_group d-flex align-items-center mb12">
											<input type="text" class="form_input w700" placeholder="disabled" disabled>
										</div>

										<div class="form_group d-flex align-items-center mb12">
											<input type="text" class="form_input w100" placeholder="placeholder">
										</div>
										<div class="form_group d-flex align-items-center mb12">
											<input type="text" class="form_input w100" placeholder="placeholder" value="입력">
										</div>
										<div class="form_group d-flex align-items-center mb12">
											<input type="text" class="form_input w100" placeholder="readonly" value="첨부파일을 확인해주세요" readonly="">
										</div>
										<div class="form_group d-flex align-items-center mb12">
											<input type="text" class="form_input w100" placeholder="disabled" disabled>
										</div>
										
										<div class="form_group d-flex align-items-center mb12">
											<label class="form-label" for="">label</label>
											<input type="text" class="form_input ml8" placeholder="placeholder">
										</div>
										<div class="form_group d-flex align-items-center mb12">
											<label class="form-label" for="">label</label>
											<input type="text" class="form_input ml8" placeholder="placeholder" value="입력">
										</div>
										<div class="form_group d-flex align-items-center mb12">
											<label class="form-label" for="">label</label>
											<input type="text" class="form_input ml8" placeholder="readonly" value="첨부파일을 확인해주세요" readonly="">
										</div>
										<div class="form_group d-flex align-items-center mb12">
											<label class="form-label" for="">label</label>
											<input type="text" class="form_input ml8" placeholder="disabled" disabled>
										</div>

										<div class="form_group d-flex align-items-center mb12">
											<label class="form-label" for="">label</label>
											<input type="text" class="form_input ml8 w100" placeholder="placeholder">
										</div>
										<div class="form_group d-flex align-items-center mb12">
											<label class="form-label" for="">label</label>
											<input type="text" class="form_input ml8 w100" placeholder="placeholder" value="입력">
										</div>
										<div class="form_group d-flex align-items-center mb12">
											<label class="form-label" for="">label</label>
											<input type="text" class="form_input ml8 w100" placeholder="readonly" value="첨부파일을 확인해주세요" readonly="">
										</div>
										<div class="form_group d-flex align-items-center mb12">
											<label class="form-label" for="">label</label>
											<input type="text" class="form_input ml8 w100" placeholder="disabled" disabled>
										</div>
									</div>
								</section>
							</article>

							<article>
								<h3 class="g-sec-tit">Select</h3>
								<section>
									<div>
										<div class="form_group d-flex align-items-center mb12">
											<!-- <label class="form-label" for="">label</label> -->
											<select id="" class="form_input form-select">
												<option>전체</option>
											</select>
										</div>	
										<div class="form_group d-flex align-items-center mb12">
											<label class="form-label" for="">label</label>
											<select id="" class="form_input form-select ml8">
												<option>전체</option>
											</select>
										</div>

										<div class="form_group d-flex align-items-center">
											<label class="form-label" for="">label</label>
											<select id="" class="form_input form-select ml8" disabled>
												<option>전체</option>
											</select>
										</div>
									</div>
								</section>
							</article>

							<article>
								<section>
									<div class="form_group_wrap d-flex align-items-center justify-content-end right mb24">
										<div class="form_group d-flex align-items-center">
											<label class="form-label" for="">파일등록</label>
											<input type="text" class="form_input ml8" value="파일을 첨부하세요." placeholder="파일을 첨부하세요." readonly="">
											<label for="file" class="button outline md ml8"><i class="ico ico_file i_s20"></i><span class="label">파일선택</span></label>
											<input type="file" id="file">		
											<button type="button" class="button primary md ml8">등록</button>
										</div>
									</div>
								</section>
								<section>
									<div class="form_group_wrap col2 d-flex right align-items-center justify-content-end right mb24">
										<div class="form_group d-flex align-items-center">
											<label class="form-label" for="">문서유형</label>
											<select id="" class="form_input form-select ml8">
												<option>전체</option>
											</select>
										</div>
										<div class="form_group d-flex align-items-center ml24">
											<label class="form-label" for="">관계</label>
											<select id="" class="form_input form-select ml8">
												<option>전체</option>
											</select>
										</div>							
									</div>
								</section>
								<section>
									<div class="form_group_wrap col2 d-flex right align-items-center justify-content-end right mb24">
										<div class="form_group d-flex align-items-center">
											<label class="form-label" for="category">대분류</label>					
											<select id="category" class="form_input form-select ml8">
												<option>선택하세요.</option>
											</select>
										</div>
										<div class="form_group d-flex align-items-center ml24">
											<label class="form-label" for="search">검색어</label>
											<input id="search" class="form_input ml8" placeholder="회원을 찾아보세요.">
										</div>
										<button type="button" class="button primary md ml8"><i class="ico ico_search_white i_s20"></i><span class="label">찾기</span></button>
									</div>
								</section>

								<section>
									<div class="form_group_wrap col2 d-flex right align-items-center justify-content-end right mb24">
										<div class="form_group d-flex align-items-center">
											<label class="form-label" for="category">대분류</label>					
											<select id="category" class="form_input form-select ml8">
												<option>선택하세요.</option>
											</select>
										</div>
										<div class="form_group d-flex align-items-center ml24">
											<label class="form-label" for="search">검색어</label>
											<input id="search" class="form_input ml8" placeholder="회원을 찾아보세요.">
											<button type="button" class="button primary md ml8"><i class="ico ico_search_white i_s20"></i><span class="label">찾기</span></button>
										</div>
									</div>
								</section>

								<section>
									<div class="form_group_wrap flex-nowrap d-flex align-items-center justify-content-end right mb24">
										<div class="form_group">
											<label class="form-label" for="search">회원검색</label>
											<input id="search" class="form_input ml8" placeholder="회원을 찾아보세요.">
										</div>
										<button type="button" class="button primary md ml8"><i class="ico ico_search_white i_s20"></i><span class="label">찾기</span></button>
									</div>
								</section>

								<section>
									<div class="form_group_wrap flex-nowrap d-flex align-items-center justify-content-end right mb24">
										<div class="form_group d-flex align-items-center">
											<select id="category" class="form_input form-select ml8" autofocus>												
												<option value="">분석대상항목 선택</option>
												<option value="분석대상항목 리스트1">리스트1</option>
												<option value="분석대상항목 리스트2">리스트2</option>
											</select>											
										</div>
										<button type="button" class="button primary md ml8"><span class="label">키워드 분석</span></button>
									</div>
								</section>
							</article>

							<article>
								<h3 class="g-sec-tit">Radio</h3>
								<div class="d-flex">
									<div class="form-check">
										<input class="form-check-input" type="radio" value="" id="radio1" name="radio" checked />
										<label class="form-check-label" for="radio1">Checked</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" value="" id="radio2" name="radio" disabled />
										<label class="form-check-label" for="radio2">Disabled</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" value="" id="radio3" name="radio" />
										<label class="form-check-label" for="radio3">Label</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" value="" id="radio4" name="radio" />
										<label class="form-check-label" for="radio4">Label</label>
									</div>
								</div>



								<div class="d-flex">
									<div class="custom-control custom-radio form-check">
										<input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input" checked />
										<label class="custom-control-label" for="customRadioInline1"><span>Checked</span></label>
									</div>
									<div class="custom-control custom-radio form-check">
										<input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input" />
										<label class="custom-control-label" for="customRadioInline1"><span>Label</span></label>
									</div>
									<div class="custom-control custom-radio form-check">
										<input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input" disabled />
										<label class="custom-control-label" for="customRadioInline1"><span>Disabled</span></label>
									</div>
									<div class="custom-control custom-radio form-check">
										<input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input" checked disabled />
										<label class="custom-control-label" for="customRadioInline1"><span>checked + disabled</span></label>
									</div>

									<div class="custom-control custom-checkbox form-check">
										<input type="checkbox" id="customRadioInline1" name="customRadioInline" class="custom-control-input" checked />
										<label class="custom-control-label" for="customRadioInline1"><span>Checked</span></label>
									</div>
									<div class="custom-control custom-checkbox form-check">
										<input type="checkbox" id="customRadioInline1" name="customRadioInline" class="custom-control-input" />
										<label class="custom-control-label" for="customRadioInline1"><span>Label</span></label>
									</div>
									<div class="custom-control custom-checkbox form-check">
										<input type="checkbox" id="customRadioInline1" name="customRadioInline" class="custom-control-input" disabled />
										<label class="custom-control-label" for="customRadioInline1"><span>Disabled</span></label>
									</div>
									<div class="custom-control custom-checkbox form-check">
										<input type="checkbox" id="customRadioInline1" name="customRadioInline" class="custom-control-input" checked disabled />
										<label class="custom-control-label" for="customRadioInline1"><span>checked + disabled</span></label>
									</div>
								</div>




							</article>

							<article>
								<h3 class="g-sec-tit">Checkbox</h3>
								<div class="d-flex">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="check1" checked />
										<label class="form-check-label" for="check1">Checked</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="check2" disabled>
										<label class="form-check-label" for="check2">Disabled</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="check3">
										<label class="form-check-label" for="check3">Label</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="check4">
										<label class="form-check-label" for="check4">Label</label>
									</div>
								</div>
							</article>
						</div>
					</div>
					<!--forms-->

					<div id="buttons" class="tab-pane" role="tabpanel" tabindex="0">
						<h2 class="g-tit">Button</h2>
						<div>
							<article>
								<div class="mb12">
									<button type="button" class="button sm outline">버튼명</button>
									<button type="button" class="button sm outline disabled">비활성화</button>
									<button type="button" class="button sm primary">버튼명</button>
									<button type="button" class="button sm primary disabled">비활성화</button>
								</div>
								<div class="mb12">
									<button type="button" class="button sm outline"><i class="ico i_s14 ico_save"></i><span class="label">버튼명</span></button>
									<button type="button" class="button sm outline disabled"><i class="ico i_s14 ico_save"></i><span class="label">비활성화</span></button>
									<button type="button" class="button sm primary"><i class="ico i_s14 ico_save_white"></i><span class="label">버튼명</span></button>
									<button type="button" class="button sm primary disabled"><i class="ico i_s14 ico_save_white"></i><span class="label">비활성화</span></button>
								</div>
								<div class="mb40">
									<button type="button" class="button sm outline"><span class="label">버튼명</span><i class="ico i_s14 ico_save"></i></button>
									<button type="button" class="button sm outline disabled"><span class="label">비활성화</span><i class="ico i_s14 ico_save"></i></button>
									<button type="button" class="button sm primary"><span class="label">버튼명</span><i class="ico i_s14 ico_save_white"></i></button>
									<button type="button" class="button sm primary disabled"><span class="label">비활성화</span><i class="ico i_s14 ico_save_white"></i></button>
								</div>

								<div class="mb12">
									<button type="button" class="button md outline">버튼명</button>
									<button type="button" class="button md outline disabled">비활성화</button>
									<button type="button" class="button md primary">버튼명</button>
									<button type="button" class="button md primary disabled">비활성화</button>
								</div>
								<div class="mb12">
									<button type="button" class="button md outline"><i class="ico i_s18 ico_save"></i><span class="label">버튼명</span></button>
									<button type="button" class="button md outline disabled"><i class="ico i_s18 ico_save"></i><span class="label">비활성화</span></button>
									<button type="button" class="button md primary"><i class="ico i_s18 ico_save_white"></i><span class="label">버튼명</span></button>
									<button type="button" class="button md primary disabled"><i class="ico i_s18 ico_save_white"></i><span class="label">비활성화</span></button>
								</div>
								<div class="mb40">
									<button type="button" class="button md outline"><span class="label">버튼명</span><i class="ico i_s18 ico_save"></i></button>
									<button type="button" class="button md outline disabled"><span class="label">비활성화</span><i class="ico i_s18 ico_save"></i></button>
									<button type="button" class="button md primary"><span class="label">버튼명</span><i class="ico i_s18 ico_save_white"></i></button>
									<button type="button" class="button md primary disabled"><span class="label">비활성화</span><i class="ico i_s18 ico_save_white"></i></button>
								</div>

								<div class="mb12">
									<button type="button" class="button lg outline">버튼명</button>
									<button type="button" class="button lg outline disabled">비활성화</button>
									<button type="button" class="button lg primary">버튼명</button>
									<button type="button" class="button lg primary disabled">비활성화</button>
								</div>								
								<div class="mb12">
									<button type="button" class="button lg outline"><i class="ico i_s20 ico_save"></i><span class="label">버튼명</span></button>
									<button type="button" class="button lg outline disabled"><i class="ico i_s20 ico_save"></i><span class="label">비활성화</span></button>
									<button type="button" class="button lg primary"><i class="ico i_s20 ico_save_white"></i><span class="label">버튼명</span></button>
									<button type="button" class="button lg primary disabled"><i class="ico i_s20 ico_save_white"></i><span class="label">비활성화</span></button>
								</div>
								<div class="mb40">
									<button type="button" class="button lg outline"><span class="label">버튼명</span><i class="ico i_s20 ico_save"></i></button>
									<button type="button" class="button lg outline disabled"><span class="label">비활성화</span><i class="ico i_s20 ico_save"></i></button>
									<button type="button" class="button lg primary"><span class="label">버튼명</span><i class="ico i_s20 ico_save_white"></i></button>
									<button type="button" class="button lg primary disabled"><span class="label">비활성화</span><i class="ico i_s20 ico_save_white"></i></button>
								</div>

								<div class="mb12">
									<div class="add_tag_list">
										<div class="add_tag">
											<span class="txt">홍길동</span>
											<button type="button" class="ico ico_close_gray i_s20"><span class="skip">삭제</span></button>
										</div>
										<div class="add_tag">
											<span class="txt">김철수</span>
											<button type="button" class="ico ico_close_gray i_s20"><span class="skip">삭제</span></button>
										</div>
										<div class="add_tag">
											<span class="txt">김영희</span>
											<button type="button" class="ico ico_close_gray i_s20"><span class="skip">삭제</span></button>
										</div>
										<div class="add_tag">
											<span class="txt">홍길동</span>
											<button type="button" class="ico ico_close_gray i_s20"><span class="skip">삭제</span></button>
										</div>
										<div class="add_tag">
											<span class="txt">김철수</span>
											<button type="button" class="ico ico_close_gray i_s20"><span class="skip">삭제</span></button>
										</div>
										<div class="add_tag">
											<span class="txt">김영희</span>
											<button type="button" class="ico ico_close_gray i_s20"><span class="skip">삭제</span></button>
										</div>
										<div class="add_tag">
											<span class="txt">홍길동</span>
											<button type="button" class="ico ico_close_gray i_s20"><span class="skip">삭제</span></button>
										</div>
										<div class="add_tag">
											<span class="txt">김철수</span>
											<button type="button" class="ico ico_close_gray i_s20"><span class="skip">삭제</span></button>
										</div>
										<div class="add_tag">
											<span class="txt">김영희</span>
											<button type="button" class="ico ico_close_gray i_s20"><span class="skip">삭제</span></button>
										</div>
									</div>
								</div>

								<div>
									<div class="add_tag_list flex-grow-1">
										<div class="add_tag d-flex">
											<span class="txt">문서 대분류 &gt; 문서 중분류 &gt; 문서 소분류 &gt; 분류1</span>
											<button type="button" class="ico ico_close_gray i_s20"><span class="skip">삭제</span></button>
										</div>		
										<div class="add_tag d-flex">
											<span class="txt">문서 대분류 &gt; 문서 중분류 &gt; 문서 소분류 &gt; 분류1</span>
											<button type="button" class="ico ico_close_gray i_s20"><span class="skip">삭제</span></button>
										</div>
										<div class="add_tag d-flex">
											<span class="txt">문서 대분류 &gt; 문서 중분류 &gt; 문서 소분류 &gt; 분류1</span>
											<button type="button" class="ico ico_close_gray i_s20"><span class="skip">삭제</span></button>
										</div>				
									</div>
								</div>

							</article>
						</div>
					</div>

					<div id="badge" class="tab-pane" role="tabpanel" tabindex="0">
						<h2 class="g-tit">Badge</h2>
						<div>
							<article>
								<span class="badge_state col_blue bg_blue10 mr8">역참조</span>
								<span class="badge_state col_green bg_green10 mr8">참조</span>

								<span class="dot_state"><i class="mark bg_mint70"></i>등록</span>
								<span class="dot_state"><i class="mark bg_yellow"></i>수정</span>
								<span class="dot_state"><i class="mark bg_blue"></i>완료</span>
								<span class="dot_state"><i class="mark bg_red"></i>반려</span>
								<span class="dot_state"><i class="mark bg_green"></i>승인</span>
							</article>
						</div>
					</div>

					<div id="icon" class="tab-pane" role="tabpanel" tabindex="0">
						<h2 class="g-tit">Icon</h2>
						<style>
							#icon article > div{display:inline-flex;margin:8px;align-items: center;justify-content: center;width:48px;height:48px;border-radius: 8px;border:1px solid #eee;}
							#icon article > div.bg{background-color: #eaeaea;}
							#icon article > div i{display:block !important;}
						</style>
						<div>
							<article>
								<div><i class="ico ico_arrB i_s24"></i></div>
								<div><i class="ico ico_arrR i_s24"></i></div>
								<div><i class="ico ico_arrT i_s24"></i></div>
								<div><i class="ico ico_cancel i_s24"></i></div>
								<div><i class="ico ico_close i_s24"></i></div>
								<div><i class="ico ico_close_gray i_s24"></i></div>
								<div class="bg"><i class="ico ico_close_white i_s24"></i></div>
								<div><i class="ico ico_comment i_s24"></i></div>
								<div><i class="ico ico_comment_gray i_s24"></i></div>
								<div class="bg"><i class="ico ico_comment_white i_s24"></i></div>
								<div><i class="ico ico_del i_s24"></i></div>
								<div><i class="ico ico_edit i_s24"></i></div>
								<div class="bg"><i class="ico ico_edit_white i_s24"></i></div>
								<div><i class="ico ico_file i_s24"></i></div>								
								<div class="bg"><i class="ico ico_list_white i_s24"></i></div>
								<div class="bg"><i class="ico ico_listClose i_s24"></i></div>
								<div class="bg"><i class="ico ico_menu i_s24"></i></div>
								<div><i class="ico ico_more i_s24"></i></div>
								<div><i class="ico ico_more_gray i_s24"></i></div>
								<div class="bg"><i class="ico ico_print i_s24"></i></div>
								<div><i class="ico ico_save i_s24"></i></div>
								<div class="bg"><i class="ico ico_save_white i_s24"></i></div>
								<div class="bg"><i class="ico ico_scrap i_s24"></i></div>
								<div class="bg"><i class="ico ico_scrap_white i_s24"></i></div>
								<div><i class="ico ico_search i_s24"></i></div>
								<div><i class="ico ico_search_gray i_s24"></i></div>
								<div class="bg"><i class="ico ico_search_white i_s24"></i></div>
								<div><i class="ico ico_share i_s24"></i></div>
								<div><i class="ico ico_top i_s24"></i></div>
							</article>
						</div>
						
					</div>
				</div>












			</div>
		</main>
		<!-- // E.right_section -->
	</div>



</div>

</body>
</html>